[Desktop Entry]
Type=Application
Name=OpenSnitch
Exec=opensnitch-ui
Icon=opensnitch-ui
GenericName=OpenSnitch Firewall
GenericName[hu]=OpenSnitch-tűzfal
GenericName[nb]=OpenSnitch brannmur
Comment=Interactive application firewall
Comment[es]=Firewall de aplicaciones
Comment[hu]=Alkalmazási tűzfal
Comment[nb]=Interaktiv programbrannmur
Terminal=false
NoDisplay=false
Categories=System;Security;Monitor;Network;
Keywords=system;firewall;policies;security;polkit;policykit;
X-GNOME-Autostart-Delay=3
X-GNOME-Autostart-enabled=true
