[Desktop Entry]
Type=Application
Name=OpenSnitch
Exec=/bin/sh -c 'pkill -15 opensnitch-ui; opensnitch-ui'
Icon=opensnitch-ui
GenericName=OpenSnitch Firewall
GenericName[hu]=OpenSnitch-tűzfal
Comment=Application firewall
Comment[es]=Firewall de aplicaciones
Comment[hu]=Alkalmazási tűzfal
Terminal=false
NoDisplay=false
Categories=System;Filesystem;Network;
Keywords=system;firewall;policies;security;polkit;policykit;
X-GNOME-Autostart-Delay=3
X-GNOME-Autostart-enabled=true
