[Unit]
Description=Application firewall OpenSnitch
Documentation=https://github.com/evilsocket/opensnitch/wiki
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/opensnitchd
Restart=always
RestartSec=30
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
