#!/usr/bin/make -f
export DH_VERBOSE = 1
export DESTDIR = "debian/opensnitch"

override_dh_dwz:
	dwz -- $(DESTDIR)/usr/bin/daemon || true
	mv $(DESTDIR)/usr/bin/daemon $(DESTDIR)/usr/bin/opensnitchd

override_dh_installsystemd:
	dh_installsystemd --restart-after-upgrade

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang
