[Desktop Entry]
Type=Application
Name=OpenSnitch
Exec=opensnitch-ui
Icon=preferences-system-firewall
GenericName=OpenSnitch Firewall
Terminal=false
Categories=System;Filesystem;Network;
Keywords=system;firewall;policies;security;polkit;policykit;douane;
